# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.DS_Store
*/**/.DS_Store
!.vscode/extensions.json
!.vscode/settings.json

.env*
!.env.sample
!.env.production
